#Blog-Container {
  text-align: left;
  position: relative;
  top: 55px;
  border: 5px;
  border-radius: 15px;
  border-style: solid;
  border-color: #5d5d63;
  width: 80%;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#spanTitle {
  width: 40%;
  height: 30px;
  margin: 10px;
  border: none;
}
#spanEmail {
  width: 30%;
  height: 30px;
  margin: 10px;
  border: none;
}

#spanDescription {
  width: 90%;
  height: 200px;
  margin: 10px;
  border: none;
}
